* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #f7f8fa;
}
@font-face {
  font-family: mont;
  src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: mont reg;
  src: url(fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: mont semi bold;
  src: url(fonts/Montserrat-SemiBold.otf);
}
@font-face {
  font-family: mont thin;
  src: url(fonts/Montserrat-Thin.ttf);
}

.name {
  color: white;
  background-color: #192233;
  height: 200px;
  text-align: center;
  font-size: 20px;
  padding: 55px;
  margin-bottom: 15px;
  font-family: "Betm Rounded", sans-serif;
}
.name h1 {
  text-transform: uppercase;
}
.name p {
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-weight: 200;
}

.about {
  margin: 20px auto;
  color: black;
  background-color: white;
  height: 180px;
  text-align: center;
  font-size: 20px;
  width: 80%;
  padding: 20px 30px;
}
h2 {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 20px;
  font-family: "Betm Rounded", sans-serif;
}
.about p {
  margin-top: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 100;
}

.education {
  margin: 20px auto;
  color: black;
  background-color: #daf0ff;
  height: 250px;
  text-align: center;
  font-size: 20px;
  width: 80%;
  padding: 20px 30px;
}
.study {
  background-color: white;
  width: 70%;
  text-align: center;
  margin: 20px auto;
  height: 40px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-family: mont reg;
  font-weight: 100;
}


.skills {
  margin: 20px auto;
  color: black;
  background-color: #fef0bf;
  height: 400px;
  text-align: center;
  font-size: 20px;
  width: 80%;
  padding: 40px 30px;
}

.skl {
  background-color: white;
  width: 70%;
  text-align: center;
  margin: 20px auto;
  height: 40px;
  padding: 10px;
  font-family: mont;
  font-weight: 700;
  text-transform: uppercase;
}


.projects {
  margin: 20px auto;
  color: black;
  background-color: #eae6fe;
  height: 330px;
  text-align: center;
  font-size: 18px;
  width: 80%;
  padding: 40px 30px;
}
.prj {
  background-color: white;
  width: 70%;
  text-align: center;
  margin: 20px auto;
  height: 40px;
  padding: 10px;
  font-family: mont thin;
  font-weight: 900;
  font-style: italic;
}


.contactme {
  margin: 20px auto;
  color: black;
  background-color: #d7fde2;
  height: 330px;
  text-align: center;
  font-size: 18px;
  width: 80%;
  padding: 40px 30px;
}
.contact {
  background-color: white;
  width: 70%;
  text-align: center;
  margin: 20px auto;
  height: 40px;
  padding: 10px;
  font-family: mont thin;
  font-weight: 900;
  font-style: bold;
}
a{
  text-decoration: none;
  color: black;
}

.copyright{
  color: white;
  background-color: black;
  height: 75px;
  margin: 20px auto;
  text-align: center;
  padding: 30px;
  text-transform: uppercase;
}