*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.801);
    flex-direction: column;
    background-image: url('https://images2.alphacoders.com/686/686859.jpg');
    background-size: cover;
    background-position: bottom;
}

.piano{
    width: 90%;
    max-width: 900px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.188);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    padding-bottom: 10px;
}

.piano2{
    width: 100%;
    max-width: 850px;
    height: 280px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 80px 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.btn-w{
    width: calc(100% / 15 - 6px);
    max-width: 53px;
    height: 170px;
    color: black;
    font-weight: 700;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border-radius: 0 0 6px 6px;
    padding-top: 120px;
    cursor: pointer;
    margin: 0 2px;
}

.btn-b{
    width: 35px;
    height: 110px;
    background-color: black;
    color: white;
    font-weight: 700;
    position:absolute;
    top: 80px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    border-radius: 0 0 5px 5px; 
    cursor: pointer;
}

.btn-w:active{
    scale: 0.85; 
}
.btn-b:active{
    scale: 0.85; 
}

/* Black keys responsive percentage positioning */
#blk1{left: 10%;}
#blk2{left: 17%;}
#blk3{left: 29%;}
#blk4{left: 35.65%;}
#blk5{left: 42%;}
#blk6{left: 54%;}
#blk7{left: 60.65%;}
#blk8{left: 67%;}
#blk9{left: 79.45%;}
#blk10{left: 85.78%;}

h1{
  color: transparent;
  font-size: 6vw;
  font-size-adjust: 50px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  background-image: url("https://i.pinimg.com/236x/b7/f8/27/b7f8273436efef62f191fb848daf1215.jpg");
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
}

.dot{
    width: 90%;
    max-width: 780px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20px;
}

.dot div{
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
}

@media (max-width: 600px){

    .btn-w{
        height: 120px;
        padding-top: 80px;
    }

    .btn-b{
        height: 80px;
        width: 28px;
        top: 55px;
    }

    h1{
        font-size: 12vw;
    }
}