* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        html,body{
            height: 100%;
            width: 100%;
        }
        main{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            color: white;
            anchor-name: --myanchor;
        }
        .box{
            padding: 1rem 2rem;
            cursor: pointer;
            position: relative;
            z-index: 2;
        }
        .box:hover{
            anchor-name: --myanchor;
            background-color: aqua;
        }
        .anchor{
            position: absolute;
            position-anchor: --myanchor;
            top: anchor(top);
            right : anchor(right);
            left: anchor(left);
            bottom: anchor(bottom);
            background-color: #181A1B;
            pointer-events: none;
            border-radius: 10px;
            transition: all .3s linear;
        }