*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
button{
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    background-color: crimson;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    z-index: 9;
}
button:active{
    scale: 0.95;
}
button:hover{
    background-color: aqua;
    color: blue;
}
h1{
    white-space: nowrap;
}