
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: white;
        }

        :root {
            --x: 0px;
            --y: 0px;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }

        body {
            background: #232323;
        }

        main {
            height: 100%;
            width: 100%;
            position: relative;
            overflow: hidden;
        }

        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        #spot-light {
            display: none;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background: radial-gradient(350px at var(--x) var(--y), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.97));
        }

        #modal {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #00000085;
            backdrop-filter: blur(4px);
        }

        #modal button {
            padding: 10px 20px;
            background: transparent;
            border: 1px solid rgb(255, 255, 255, 0.27);
            cursor: pointer;
            border-radius: 10px;
            transition: all .3s ease;
        }

        #modal button:hover {
            scale: 1.05;
        }

        #modal button:active {
            scale: 0.95;
        }
