
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    background-color: #161616;
    gap: 1rem;
    position: relative;
}
#top{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#top div{
    border: 1px solid rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    padding: .7rem 1rem;
    font-weight: 600;
}
#bottom{
    height: 93%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.27);
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px,1fr));
}
.fill{
    background-color: rgb(233, 254, 255);
}

.food{
    background-color: red;
    border-radius: 50%;
}
#modal{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000081;
    backdrop-filter: blur(4px);
    gap: 1rem;
}
#startBtn button{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
}
#controls{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2%;
    right: 2%;
}
#controls>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
#controls i{
    cursor: pointer;
    background-color: #00000071;
    backdrop-filter: blur(4px);
    padding: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.27);
    border-radius: 50%;
}
@media (max-width:900px) {
    #top div{
        font-size: .8rem;
        padding: 7px 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #controls{
        display: flex;
    }
}
